__pycache__
.DS_Store

data/*
!data/download.sh
!data/sentiment_episodes_k8.pkl
!data/irony_a_episodes_k8.pkl
!data/irony_b_episodes_k8.pkl
!data/abuse_episodes_k8.pkl
results
.idea/
.ipynb_checkpoints/
*.docx
